#div{
    background-color:whitesmoke;
}
body{
    background-image:url("./natu1.jpg");
    background-repeat:no-repeat ;
    background-size: cover;
    background-clip: border-box;
    opacity: 1;
}
/* p{
    background-image:url("./Snapchat-739109458.jpg");
    background-clip: border-box;
   /* background-position: right-top;
    background-attachment: scroll;*/
    /* padding-top: 20px;
    border: 10px 10px; */
    /* background-size:cover;
} */ 
.first{
    border:2px solid black;
    background-color: yellow;
}
.sec{
    background-color:bisque;
}
.thi{
    background-color:chartreuse;
}
/* p{
    background-color: aqua;
}*/
p{ 
    outline: 2px solid black;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}